<div class="navbar-fixed" th:fragment="header">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img style="width: 25px; height: 25px;" th:src="@{/img/logo.png}" alt="logo"/></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/pa">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="/logout">Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>