<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>HelpMeDo</title>
    <script src='https://www.google.com/recaptcha/api.js?render=6LcdnI0UAAAAAG9qsJr5-x7fxeZEyoTYmvSS-KvY'></script>
</head>
<body class="wrapper">
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center align-items-center flogin">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 colorflogin">
                <div class="acenter">
                    <img th:src="@{/img/logo.png}" class="logo_form_login">
                    <div class="two"><h1>HelpMeDo</h1></div>
                    <p>Доверьтесь профессионалам!</p>
                </div>
                <form class="form_reg" th:action="@{/registration}" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" id="userLogin" aria-describedby="email"
                               placeholder="email:" name="userLogin" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="userPassword" placeholder="Пароль:"
                               name="userPassword" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="userPassword_"
                               placeholder="Повторите пароль:"
                               name="userPassword_" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstName" placeholder="Имя:"
                               name="firstName" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="lastName" placeholder="Фамилия:"
                               name="lastName" required/>
                    </div>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"/>
                    <input type="submit" class="btn btn-primary btn-block btn-success" value="Sign un"/>
                </form>
                <div class="acenter">
                    <p>У вас есть аккаунт?</p>
                    <a href="/login" class="color_link_login_reg">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcdnI0UAAAAAG9qsJr5-x7fxeZEyoTYmvSS-KvY', {action: '/registration'})
            .then(function (token) {
                // Необходимо подтвердить токен на сервере.
                document.getElementById('g-recaptcha-response').value = token;
            });
    });
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>