<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>HelpMeDo</title>
    <script src='https://www.google.com/recaptcha/api.js?render=6LcdnI0UAAAAAG9qsJr5-x7fxeZEyoTYmvSS-KvY'></script>
</head>
<body class="wrapper">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a href="#" class="navbar-brand">
        <img style="width: 25px; height: 25px;" th:src="@{/img/logo.png}" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link">Log in</a>
            </li>
            <li class="nav-item">
                <a href="/reg" class="nav-link">Sign up</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="padding: 0px">
    <div style="min-height: 680px; max-height: 850px; background-color:#00a82d; color: #fff; background-image: url('/img/main-green.png')">
        <div class="container" style="padding-top: 10vh;">
            <div class="row  justify-content-center align-items-center" style="min-height: 500px;">
                <div class="col">
                    <h1 style="font-size: 50px; line-height: 72px; margin-bottom: 20px;font-family: sans-serif; font-weight: lighter;">
                        Организуйте поиск исполнителя, не прилагая усилий!</h1>
                    <div class="description" style="font-family: Soleil_Light,Helvetica,Arial,sans-serif;
font-size: 24px;
line-height: 40px;
margin-bottom: 35px;">HelpMeDo помогает во всём!
                    </div>
                    <a href="/reg" class="btn btn-info">ЗАРЕГИСТРИРУЙТЕСЬ БЕСПЛАТНО</a>
                </div>
                <div class="col image_startpage ">
                    <img class="desktop-only" style="max-width: 100%; min-width: 250px;"
                         th:src="@{/img/homepage-hero-desktop.png}">
                </div>

            </div>
        </div>
    </div>
    <div style="min-height: 680px; max-height: 680px; background-color:#00a82d; color: #fff; background-image: url('/img/hero.jpg');
    background-size: cover;
background-repeat: no-repeat;"><!--style="background-image: url('/img/main-green.png');">-->
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

            </div>
        </div>
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>